table, tr, th{
    background-color: mediumpurple;
    width: 70%;
    border: 3px solid black;
    border-collapse: separate;
    padding: 5px;
}

.doc{
    width: 85%;
    height: 30cm;
}

body{
    background-color: lightslategray;
}