table {
    border: 3px solid black;
    border-collapse: separate;
    width: 70%;
    background-color: mediumpurple;
    padding: 5px;
}

td, th{
    border: 3px solid black;
    border-collapse: separate;
}

body {
    background-color: lightslategray;
}