table, tr, th{
    border: 3px solid black;
    border-collapse: separate;
    width: 50%;
    background-color: mediumpurple;
    padding: 5px;
    height: 95%;
}

embed {
    width: 640px;
    height: 480px;
}

body {
    background-color: lightslategray;
}