table, tr, th{
    background-color: mediumpurple;
    width: 70%;
    border: 3px solid black;
    border-collapse: separate;
    padding: 5px;
}

.sources{
    width: 85%;
    height: 20cm;
}

body{
    background-color: lightslategray;
}